In [22]:
import pandas as pd
from datetime import datetime, timedelta

In [3]:
inventario = pd.read_csv('data/supermarket_sales - Sheet1.csv')

In [4]:
inventario.sample(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
308,512-98-1403,A,Yangon,Member,Female,Electronic accessories,26.48,3,3.972,83.412,3/21/2019,10:40,Ewallet,79.44,4.761905,3.972,4.7
610,421-95-9805,A,Yangon,Normal,Female,Electronic accessories,28.96,1,1.448,30.408,2/7/2019,10:18,Credit card,28.96,4.761905,1.448,6.2
238,346-84-3103,B,Mandalay,Member,Female,Electronic accessories,13.22,5,3.305,69.405,3/2/2019,19:26,Cash,66.10,4.761905,3.305,4.3

 ## 1. Calcular el Total de Ventas por Producto

In [5]:
inventario['total_ventas'] = inventario.apply(lambda row: row['Quantity'] * row['Unit price'], axis=1)

In [6]:
inventario.sample()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,total_ventas
182,851-28-6367,A,Yangon,Member,Male,Sports and travel,15.5,10,7.75,162.75,3/23/2019,10:55,Ewallet,155.0,4.761905,7.75,8.0,155.0

## 2. Aplicar Descuento a los Precios

In [9]:
inventario['Descuentos'] = inventario['Unit price'].map(lambda precio: precio * 0.9)

In [10]:
inventario.sample()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,total_ventas,precio_unitario,Descuentos
585,127-47-6963,A,Yangon,Normal,Male,Health and beauty,51.71,4,10.342,217.182,3/9/2019,13:53,Credit card,206.84,4.761905,10.342,9.8,206.84,46.539,46.539

## 3. Calcular el Precio Promedio por Producto

In [15]:
precio_promedio_por_producto = inventario.groupby('Product line')['Unit price'].mean()
inventario['precio_promedio'] = inventario['Product line'].map(precio_promedio_por_producto)

In [21]:
inventario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  total_ventas             1000 non-null   float64
 18  precio_unitario          1000 non-null   float64
 19  Descuentos               1000 non-null   float64
 20  precio_promedio          1000 non-null   float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(8)
memory usage: 164.2+ KB

In [17]:
precio_promedio_por_producto.sample()

Product line
Food and beverages    56.008851
Name: Unit price, dtype: float64

In [20]:
inventario['Date']=pd.to_datetime(inventario['Date'],errors=('coerce'))

In [28]:
def textoatiempo(cadena):
    return datetime.strptime(cadena, "%H:%M").time()
inventario['Time']=inventario['Time'].map(textoatiempo)

TypeError: strptime() argument 1 must be str, not datetime.time

In [ ]:
inventario['Time'].loc[3]